/* Import Bootstrap styles (replace with your Bootstrap CSS file link) */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

/* Custom Christmas Styles */
body {
    background-color: #000000; /* Dark background */
    color: #ffffff; /* White text color */
    padding:30px; /* Add padding to the body */
    text-align: left; /* Center text */
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


#introduction h1 {
    color: #a8371e; /* Dark orange text color for the introduction */
}

#userSelection,
#quiz,
#imageDisplay {
    background-color: #1f1f1f; /* Dark gray background for main sections */
    border: 2px solid #27ae60; /* Teal border */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Increase padding */
    margin-top: 20px;
}

label,
button {
    color: #fff; /* White text color */
}

#userName,
#answerOptions {
    width: 100%;
    margin-bottom: 20px; /* Increase margin */
    background-color: #2c3e50; /* Midnight blue background for input/select */
    color: #ecf0f1; /* Light gray text color */
    padding: 10px; /* Add padding */
}

button {
    background-color: #27ae60; /* Emerald green button color */
    padding: 10px 20px; /* Add padding */
}

button:disabled {
    background-color: #7f8c8d; /* Grey color for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
}

#timer {
    font-size: 20px;
    color: #e74c3c; /* Alizarin red color for the timer */
}

#imageDisplay img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    margin-top: 20px;
}

/* Bootstrap Utilities */
.mt-5 {
    margin-top: 3rem !important;
}

.text-danger {
    color: #e74c3c !important; /* Alizarin red text color */
}


.speech-balloon {
    position: relative;
    display: inline-block;
    background-color: #fff;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.speech-balloon img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.speech-balloon p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}